<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MageSuite\QuickReorder\Block\LatestProductsPurchased" type="MageSuite\ContentConstructorFrontend\Block\Component\ProductCarousel">
        <arguments>
            <argument name="viewModel" xsi:type="string">MageSuite\QuickReorder\ViewModel\LatestProductsPurchasedInterface</argument>
        </arguments>
    </virtualType>
    <preference for="MageSuite\QuickReorder\ViewModel\LatestProductsPurchasedInterface" type="MageSuite\QuickReorder\ViewModel\LatestProductsPurchased"/>
    <preference for="MageSuite\QuickReorder\Model\ResourceModel\LatestOrderItemResourceInterface" type="MageSuite\QuickReorder\Model\ResourceModel\LatestOrderItem"/>
</config>
